<div align = "center">
    
<h1>About</h1>
<div class = "row">
    <h4>Hi, I am Sérgio Hilgert and this is an alpha blog.</h4>
    
    <div align = "left" class = "row">
        <h4>There is some features that you can find on this blog:</h4>
        <ul>
            <li>CRUD Operations</li>
            <li>Integration tests</li>
            <li>Many to many, one to many associations</li>
            <li>MVC design pattern</li>
            <li>Admin features</li>
            <li>Password encryption</li>
            <li>Ruby coding style <a href= "https://github.com/bbatsov/ruby-style-guide">(can be found here)</a></li>
        </ul>
        
    </div>
    
    <h5 align = "left">All thanks to <a href= "https://www.udemy.com/the-complete-ruby-on-rails-developer-course/">The complete Ruby on Rails Developer Course</a></h5>
    
        
</div>
</div>